<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Accessibility Tool</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen flex items-center justify-center p-6">

    <div class="bg-white shadow-2xl rounded-3xl p-10 w-full max-w-2xl">

        <h1 class="text-4xl font-bold text-gray-800 mb-4 text-center">
            Graph Accessibility Tool
        </h1>

        <p class="text-gray-500 text-center mb-8">
            Upload a bar graph image to generate accessible descriptions.
        </p>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="mb-6">
                {{ form.image }}
            </div>

            <button
                type="submit"
                class="w-full bg-indigo-600 hover:bg-indigo-700 transition text-white py-3 rounded-2xl font-semibold"
            >
                Upload Graph
            </button>

        </form> 

        {% if uploaded_image %}

        <div class="mt-10 grid md:grid-cols-2 gap-8">

            <div>

                <h2 class="text-2xl font-bold mb-4 text-gray-700">
                    Uploaded Graph
                </h2>

                <img
                    src="{{ uploaded_image }}"
                    class="rounded-2xl shadow-lg w-full"
                >

            </div>

            <div>

                <div class="bg-indigo-50 rounded-2xl p-6 h-full">

                    <h2 class="text-xl font-bold text-indigo-700 mb-4">
                        Accessibility Summary
                    </h2>

                    {% if summary %}

                    <ul class="space-y-3">

                        <li>
                            Detected Labels:
                            <strong>{{ summary.total_labels }}</strong>
                        </li>

                        <li>
                            Detected Scale:
                            <strong>{{ summary.min_scale }} - {{ summary.max_scale }}</strong>
                        </li>

                        <li>
                            Extracted Text Labels:
                            <strong>
                                {% for label  in summary.labels %}
                                    {{ label  }} 
                                {% endfor %}
                            </strong>
                        </li>
                            
                    </ul>

                    {% endif %}

                </div>

            </div>

        </div>

        <!-- <div class="mt-8">

            <div class="bg-gray-100 rounded-2xl p-6">

                <h2 class="text-xl font-bold text-gray-700 mb-4">
                    Extracted Text
                </h2>

                <pre class="whitespace-pre-wrap text-gray-600">
                    {{ extracted_text }}
                </pre>

            </div>

        </div> -->

        {% endif %}
        

    </div>

</body>
</html>